%div#contacts.contacts_screen.screen
  %div.panels
    %div.contact_panel.left_panel
      %div.text_wrap
        %h2.heading
          Контакты
        =link_to 'mailto:stash@mbev-rus.ru', class: 'contacts_link email' do
          %p.link_text
            e-mail: stash@mbev-rus.ru

        =link_to 'tel://+74952320003', class: 'contacts_link phone' do
          %p.link_text
            +7(495)232-00-03
      = render partial: 'shared/sbutton', object: 'обратная связь',
               locals: {extra_class: '', link_class: 'contacts_link', link: '/template/support', remote: true}
    %div.contact_panel.right_panel
      =link_to '/template/map', class: 'contacts_link map', remote: true do
        %div.text_wrap
          %img.address_pointer{src: '/images/address.svg'}
          %h2.heading
            Адрес
          %p.address
            Москва, Звонарский пер., д.7, стр.1.
            %br
            Время работы: ПН-СБ с 12:00 до 21:00, ВС - выходной.
      = render partial: 'shared/sbutton', object: 'оплата и доставка',
                 locals: {extra_class: '', link_class: 'contacts_link', link: '/template/delivery', remote: true}