%div#index.index-bg.screen
  %div.logo
  %p.text Приглашаем Вас окунуться в эксклюзивный мир элитных брендов. Нам есть чем вас удивить
= render template: 'frontend/shop'
= render template: 'frontend/news'
= render template: 'frontend/contacts'
= render template: 'frontend/profile'