%div#index.index-bg.screen
  %div.logo
  %p.text Все, что ни построено человеком, построено на песке, но долг человека строить так, как если бы песок был камнем
= render template: 'frontend/shop'
= render template: 'frontend/news'
= render template: 'frontend/contacts'
= render template: 'frontend/profile'