%div#shop.shop_screen.screen
  %div.column{class: @specials.nil? ? '' : 'with_special'}
    -unless @specials.nil?
      = render partial: 'shared/special_slider', object: @specials
    %div.buttons
      = render partial: 'shared/sbutton', object: 'каталог',
               locals: {extra_class: '', link_class: '', link: "/shop/catalog", remote: false, data: { turbolinks: false, no_turbolink: true}}
      = render partial: 'shared/sbutton', object: 'бренды',
               locals: {extra_class: '', link_class: '', link: "/shop/brands", remote: false, data: { turbolinks: false, no_turbolink: true}}

