%div.shop_screen
  %div.column.left
    %div.text
      Мы будем варить турецкий кофе в медных турках на песке со специями. И радовать вас медитативным развлечением - рисованием на песке.
    %div.button
      =link_to '/shop/catalog' do
        %p.button_text
          Каталог
  %div.column.center
  %div.column.right
    %div.button
      =link_to '/shop/brands' do
        %p.button_text
          Брэнды