%div.shop_screen
  %div.column.left
    %div.text
      Мы будем варить турецкий кофе в медных турках на песке со специями. И радовать вас медитативным развлечением - рисованием на песке.
    %div.sbutton
      =link_to '/shop/catalog' do
        %p.sbutton_text
          Каталог
  %div.column.center
  %div.column.right
    %div.sbutton
      =link_to '/shop/brands' do
        %p.sbutton_text
          Бренды