%div.cart_wrapper
  %div.cart_close
  =render partial: 'shared/cart_items', object: @order_items, locals: {removable: true}
  %div.order_box
    %div.order_price
      - if @discount_card_number == ''
        %p.text
          итого
      - else
        %p.text.with-discount
          итого
          %br
          %span.discount-text с учетом скидки
      %p.text.subtotal
        = "#{@order.show_price} Р"
    = render partial: 'shared/sbutton', object: 'оформить заказ',
             locals: {extra_class: '', link_class: 'make_order', link: '/cart/complete', remote: false}
