%div.cart_wrapper
  %div.cart_close
  =render partial: 'shared/cart_items', object: @order_items, locals: {removable: true}
  %div.order_box
    %div.order_price
      %p.text
        итого без учета доставки
      %p.text.subtotal
        = "#{@order.show_price} Р"

    %div.sbutton
      = link_to('/cart/complete', class:'make_order') do
        %p.sbutton_text
          оформить заказ