%div.overlay
  %div.close_button
  %ul.breadcrumb
    %li.breadcrumb-item
      =link_to('/') do
        %p Главная
    %li.breadcrumb-item
      =link_to('/shop') do
        %p Магазин
    %li.breadcrumb-item
      =link_to('/shop/brands') do
        %p Бренды
    %li.breadcrumb-item
      %p
        =@brand.name
  %div.brand_info
    %div.brand_logo
      %img.brand_img{src: "#{@brand.image.brand}"}
    %div.brand_text
      %h3.brand_name
        = @brand.name
      %div.brand_description
        = @brand.description
      %div.sbutton
        =link_to("/shop/catalog?brand=#{@brand.name}") do
          %p.sbutton_text
            Продукция
