%div.contacts_overlay.overlay
  %div.small_overlay
    %div.close_button
    %h1.support
      Оплата и доставка
    %div.delivery
      %h3.small_heading
        Москва
        %br
      %p.text
        На нашем сайте Вы можете выбрать интересующие позиции и оформить заказ. После оформления заказа с Вами свяжется менеджер по телефону или электронной почте, уточнит детали и сообщит, когда можно забрать заказ. Самовывоз осуществляется из магазина Wine&Liquor Stash по адресу Звонарский пер. 7, стр. 1 в городе Москва.
        %br
        %br
        Оплатить заказ можно в магазине наличными или банковской картой.
        %br
        %br
        Обратите внимание, что для получения заказа будет необходимо сообщить его номер. Узнать номер заказа можно на странице "Ваши заказы".
        %br
        Цены и наличие товаров необходимо уточнять по телефону 8(495)232-00-03
      %br
      %h3.small_heading
        Реквизиты компании
      %p.text
        ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МАРУСЯ БЕВЕРЕДЖИС РУС"
        %br
        Юридический адрес: 107031, г Москва, Звонарский пер, д 7 стр 1
        %br
        ИНН 7705667950
        %br
        КПП 770201001
        %br
        ОГРН 1057747206901
        %br
        БИК 044525716
        Банк ВТБ 24 (ЗАО)
        %br
        К/C: 30101810100000000716
        Р/C: 40702810500000015605
        %br
        %a{href: '/images/license.jpg', target: '_blank'}
          %img.license_image{src: '/images/license.jpg'}
