%div.overlay
  %div.small_overlay
    %div.close_button
    %h1.support
      Оплата и доставка
    %div.delivery
      %h3.small_heading
        Москва и МО
        Возможные способы доставки по Москве и Московской области:
      %p.text
        — Доставка курьером в день заказа в пределах МКАД - 400 руб.(показать подробности)
        %br
        — Доставка курьером на следующий день после заказа — бесплатно при заказе от 5000 руб.(показать подробности)
        %br
        — Доставка курьером по Москве к точному времени на следующий день после оформления заказа - 350 руб.(показать подробности)
        %br
        — Резервирование с самовывозом из магазина
        %br
      %h3.small_heading
        Москва и МО
        %br
        Возможные способы доставки по Москве и Московской области:
      %p.text
        — Доставка курьером в день заказа в пределах МКАД - 400 руб.(показать подробности)
        <br>
        — Доставка курьером на следующий день после заказа — бесплатно при заказе от 5000 руб.(показать подробности)<br>— Доставка курьером по Москве к точному времени на следующий день после оформления заказа - 350 руб.(показать подробности)<br>— Резервирование с самовывозом из магазина
        <br><br>
      %h3.small_heading
        Способы оплаты при доставке по Москве и области:
      %p.text
        — Наличными курьеру при получении
        %br
        — Пластиковой картой курьеру при получении
        %br
        — Пластиковой картой через интернет, в момент оформления заказа (показать подробности)
        %br
        — Предоплатой по счёту банковским переводом (показать подробности)
      %h3.small_heading
        Санкт-Петербург
        %br
        Возможные способы доставки в Санкт-Петербург:
      %p.text
        — Курьерской службой, ваш заказ застрахован от повреждений во время доставки (показать подробности)
        %br
        — Резервирование с самовывозом из магазина
      %h3.small_heading
        Способы оплаты при доставке в Санкт-Петербург:
      %p.text
        — Наличными курьеру при получении
        %br
          — Пластиковой картой курьеру при получении
        %br
          — Пластиковой картой через интернет, в момент оформления заказа (показать подробности)
        %br
          — Предоплатой по счёту банковским переводом (показать подробности)