%div.overlay.news_overlay
  %div.close_button
  %div.columns
    %div.column_right
      %p.date
        = @news.updated_at.strftime '%d %B'
      %h1.title
        = @news.title
      %div.media
        - if @news.media.nil? || @news.media.empty?
          %img.image{src: @news.image.news}
        - else
          = @news.media.html_safe

    %div.column_left
      %div.scrollable
        = @news.description.html_safe