%div.catalog_screen
  %div.header
    %a.close{href:'/#two', data: { turbolinks: false, no_turbolink: true}}
      %div.spacer
    Каталог
  = render partial: 'filters'

  %div.whitespace

  %div.items
    -@items.each do |item|
      =render partial: 'shared/item_box', object: item
  - unless @specials
    %div.more
      = link_to('/shop/more.html', remote: true, class: 'more_link') do
        %p.more_text
          загрузить еще
