%div.confirmation
  %div.confirmation_bg
    %div.confirmation_container
      %div.confirmation_close
      %div.confirmation_heading
        вам должно быть более 18 лет для посещения сайта
      %div.confirmation_text
        Для доступа на сайт Вы должны подтвердить, что Вам есть 18 лет. В противном случае нажмите на крестик в верхнем углу.
      = render partial: 'shared/sbutton', object: 'мне есть 18 лет',
                 locals: {extra_class: 'confirmation_button', link_class: '', link: 'javascript:void(0);', remote: true}