%div.top

%div.sbuttons
  %div.sbutton.left
    =link_to '/template/login_form', remote: true, id: 'login', class: 'login_link' do
      %p.sbutton_text.login
        Войти
  %div.sbutton.right
    =link_to '/template/registration_form', remote: true, id: 'signup', class: 'login_link' do
      %p.sbutton_text.signup
        Зарегистрироваться