%div.top

%div.sbuttons
  %div.sbutton.login_button
    %div.borders
    =link_to '/template/login_form', remote: true, id: 'login', class: 'login_link' do
      %p.sbutton_text.login
        войти / зарегистрироваться
