.index-bg {
  .logo {
    width: 536px;
    height: 204px;
  }
  .text {
    top: 481px;
  }
  .sbutton {
    top: 80vh;
  }
}
.shop_screen {
  > div {
    .left {
      width: 43%;
      .text {
        width: 90%;
        height: auto;
      }
    }
    .center {
      width: 282px;
      .image {
        margin-top: 6%;
        .img {
          height: 437px;
          width: 250px;
        }
      }
      .about_promo {
        .price {
          margin-top: 30%;
        }
      }
      .sbutton {
        width: 121px;
        height: 39px;
        .sbutton_text {
          font-size: 16px;
          line-height: 39px;
        }
      }
    }
    .right {
      width: calc(100vw - 43% - 282px);
      .sbutton {
        max-width: 100%;
      }
    }
  }
}
.news_screen {
  padding-left: 112px;
  padding-right: 152px;
  .news_wrapper {
    height: 431px;
    .news_slider {
      height: 431px;
      padding: 0px 0px;
      .news_box_wrapper {
        padding-left: 20px;

        margin-right: 25px;

        .news_box {
          max-height: 250px;
          width: 334px;
          padding-right: 20px;
          margin-bottom: 20px;
          padding-bottom: 12px;
          .date {
            line-height: 16px;
          }
          .header {
            line-height: 30px;
            margin-top: 5px;
          }
          .short_description {
            max-height: 210px;
            overflow: hidden;
            font-size: 16px;
            margin-top: 7px;
            line-height: 20px;
          }
        }
        .first {

          .short_description {
            max-height: 240px;
          }
          .sbutton {
            width: 92px;
            height: 31px;
            .sbutton_text {
              line-height: 31px;
              font-size: 12px;
            }
          }
        }
      }
    }

  }
  .navigation {
  }

}
.contacts_screen {
  .panels {
    width: 82%;
  }

}
.profile_screen {
  padding-top: 280px;
}
.catalog_screen {
  .items {
    .item_box {
      width: 319px;
      height: 619px;
      .item_about_link {
        .name {
          font-size: 14px;
          height: 36px;
        }
        .heading {
          display: none;
        }
        .short_description {
          font-size: 12px;
        }
        .image {
          height: 53%;
          .img {
            height: 340px;
            width: 195px;
          }
        }
      }

    }
  }
  .filters {
    .filters_list {
      .filter_item {
        margin-right: 75px;
        .select-wrapper {
          width: 138px;
          .select-dropdown {
            width: 9em;
          }
        }
      }
      .input-field {
        .opened {
        }
      }
    }
  }
  .overlay {
    .breadcrumb {
      .breadcrumb-item {
        &:before {
          font-size: 36px;
          line-height: 16px;
        }
        a > p, p {
          font-size: 14px;
        }
      }
    }
    .item_info {
      .item_logo {
        width: 420px;
        margin-left: 20px;
        margin-right: 20px;
        .item_img {
          height: 547px;
        }
      }
      .item_text {
        max-width: calc(100% - 41% - 149px);
        width: calc(100% - 41% - 149px);
        .item_extra {
          .extra {
            .long {
              height: 41px;
              overflow: hidden;
            }

          }
          .cut {
            display: block;
            text-align: right;
            transform: translateY(calc(-100% - 0.5em));
            background: linear-gradient(to right, rgba(0,0,0,0) 0%,#ffffff 10%);
            width: 20ch;
            margin-left: auto;
            cursor: pointer;
            > p {
              width: 18ch;
              margin-left: auto;
              margin-bottom: 0;
              margin-top: 0;              border-bottom: 1px solid black;
            }
          }
        }
      }

    }
    .same_box {
      .same {
        .items {
          height: 640px;
          .item_box {
            &:last-child {
              display: none;
            }
          }
        }
        .same_head {
          padding: 59px 0;
        }
      }
    }
  }
}
.cart_complete_screen {
  .panels {
    .panel {
      padding: 0px 40px;
    }
    .left_panel {
      padding-top: 149px;
      .subprice {
        font-size: 72px;
      }
      .delivery_form {
        margin-top: 80px;
        .submit{
          margin-top: 20px;
        }
      }
    }
    .right_panel {

      .cart_items {
        margin-top: 149px;
      }
    }
  }
}
.brands_screen {

}
.orders_screen {
  .orders {
    .order_box {
      width: 800px;
    }
  }
}

.contacts_overlay{
  .small_overlay {
    height: 92%;
    min-height: 92%;
    top: calc((100vh - 92%) / 2);
    width: 90%;
    left: calc((100vw - 90%) / 2);
    .close_button {
      left: 90%;
    }
    .support {
      margin-bottom: 40px;

    }
    .support_form {
      padding: 30px 10%;
    }
    .delivery {
      max-height: 85%;
    }
  }
}

.news_overlay {
  .columns {
    padding: 95px 37px;
    .column_right {
      margin-right: 10px;
      width: 480px;
      .date {
        font-size: 16px;
      }
      .title {
        margin-top: 34px;
      }
      .media {
        margin-top: 48px;
        height: 298px;
        width: 384px;
      }
    }
  }
}

.brands_overlay {
  .brand_info {
    .brand_logo {
      .brand_img {
        width: 271px;
        height: 271px;
      }
    }
    .brand_text {
      max-width: calc(100% - 20% - 384px);
      margin-right: 7%;
    }
  }
}