.cart_items {
  .item {
    .item_small {
      .short_info {
        .control_box {
          .cart-count {
            width: 66px;
          }
        }
      }
    }
  }
}
.contacts_overlay {
  .small_overlay {
    height: 90%;
    min-height: 90%;
    top: calc((100vh - 90%) / 2);
    width: 90%;
    left: calc((100vw - 90%) / 2);
    .close_button {
      left: 83%;
    }
    .support {
      margin-bottom: 40px;
      font-size: 32px;
    }
    .support_form {
      padding: 10px 15%;
      .upper_inputs {
        display: block;
        .input {
          width: 100%;
        }
      }
      .input {
        .text {
          height: auto;
        }
      }
    }
    .delivery {
      max-height: 55vh;
    }
  }
}
.profile_overlay {
  .small_overlay {
    margin-top: calc((100vh - 90vh) / 2);
    height: auto;
    max-height: initial;
    .close_button {
      top: 8vh;
      left: 9vw;
    }
    .tabulated {
      .tabs {
        height: auto;
        display: block;
        .tab_item {
          font-size: 33px;
          height: 45px;
          line-height: 45px;
        }
      }
      .forms_container {
        .form_wrapper {
          form {
            .inputs {
              display:block;
              .input {
                margin: 0;
                width: 100%;
                max-width: 100%;
              }
            }
            .sbutton {
              margin-top: 90px;
            }
          }
        }
      }
    }
  }
  .sign_up {
    padding-top: 0px;
    left: 0;
    width: 100%;
  }
  .login_form {
    left: 14%;
    top: 20%;
  }
}
.news_overlay {
  .columns {
    padding: 95px 37px;
    display: block;

    .column_right {
      width: calc(100% - 10px);
      .date {
        font-size: 16px;
      }
      .title {
        margin-top: 34px;
        font-size: 32px;
      }
      .media {
        margin: auto;
        margin-top: 48px;
        max-height: 324px;
        height: 100%;
        width: auto;
        max-width: 510px;
      }
    }
    .column_left {
      overflow-y: inherit;
      max-height: inherit;
      padding-top: 5px;
      width: 100%;
    }
  }
}

.white_bg {
  .columns {
    .column_left {
      margin-top: 0px;
      padding-top: 30px;
    }
  }
}

.special_slider {
  .wrp {

    .elmnt {

      .special_link {
        text-align: center;
        .first_element {

          .special_heading{

          }
        }
      }
      &:first-child {
      }
      .slide {

      }
      .special_box {

        .special_link {
          display: block;
          .img {
            margin: auto;
            .item_thumb {

            }
          }
          .text {
            padding-top: 0px;
            transform: translateY(-280px);
            > div {
            }
            .name {
              font-size: 22px;
              margin-top: 140px;
              transform: translateY(-50%);
            }
            .desc {

            }
            .price {
            }
          }
        }
      }
    }
  }
}

.index-bg {
  .logo {
    top: 32vh;
    width: 83%;
    height: 204px;
  }
  .text {
    top: 61vh;
    font-size: 18px;
    width: 90%;
  }
}
.shop_screen {
  display: block;
  > div {
    display: block;
    .column {
      .buttons {
        width: 224px;
        .sbutton {
          display: block;
          margin: auto;
          &:first-child {
            margin-bottom: 20vh;
          }
        }
      }
    }
  }
}
.news_screen {
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 10%;

  .news_wrapper {
    height: 75vh;
    margin-top: 10%;
    max-height: 670px;
    .news_slider {
      height: 100%;
      padding: 0px 0px;
      .news_box_wrapper {
        padding-left: 20px;

        margin-right: 25px;

        .news_box {
          max-height: 49%;
          width: 66vw;
          padding-right: 20px;
          margin-bottom: 0px;
          padding-bottom: 0px;
          padding-top: 5%;
          .date {
            line-height: 16px;
          }
          .header {
            line-height: 30px;
            margin-top: 5px;
          }
          .short_description {
            max-height: 210px;
            overflow: hidden;
            font-size: 16px;
            margin-top: 7px;
          }
        }
      }
      .first {
        max-height: 100%  !important;
        height: 100% !important;
        .news_link {
          .short_description {
            max-height: 55% !important;
          }
        }
        .sbutton {
          margin-top: 5px;
          width: 92px;
          height: 31px;
          .sbutton_text {
            line-height: 31px;
            font-size: 12px;
          }
        }
      }


    }
  }
  .navigation {
    margin-top: 20px;
  }

}
.contacts_screen {
  padding-top: 5%;
  .panels {
    height: 90%;
    width: 80%;
    display: block;
    .contact_panel {
      height: 50%;
      width: 100%;
      .heading {
        margin-top: 8%;
        font-size: 33px;
        line-height: 33px;
      }
      .contacts_link {
        font-size: 20px;
        line-height: 23px;
        .link_text {
          margin: auto 5%;
        }
      }
      .sbutton {
        margin-top: 5%;
        height: 10vh;
        max-height: 90px;
        .sbutton_text {
          line-height: 10vh;
        }
      }
    }
    .right_panel {
      .map {
        .text_wrap {
          padding-top: 2%;
          height: 65%;
          .heading {
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 1%;
          }
          .address {
            font-size: 14px;
            line-height: 16px;
            margin: auto 1%;
          }
        }
      }
      .sbutton {
        margin-top: 8%;
      }
    }
  }

}
.profile_screen {
  padding-top: 23vh;
  .top {
    .text {
      font-size: 42px;
    }
  }
  .sbuttons {
    display: block;
    transform: translateX(0);
    margin-left: 0;
    .sbutton {
      float: none !important;
      margin: auto;
      width: 90%;
      &:first-child {
        margin-bottom: 8%;
      }
    }
    .login_button {
      margin-top: 20vh;

      .login_link {
        .sbutton_text {
          font-size: 18px;
        }
      }
    }
  }
}
.catalog_screen {
  .header {
    .close {
      transform: translate(-7px, -23px);
    }
  }
  .items {
    .item_box {
      width: 48.4vw;
      height: 465px;
      .item_about_link {
        .name {
          font-size: 12px;
          margin-top: 9px;
        }
        .heading {
          display: none;
        }
        .short_description {
          font-size: 12px;
          height: 27px;
          line-height: 12px;
        }
        .image {
          height: auto;
          .img {
            height: 210px;
            width: auto;
          }
        }
        .price {
          margin-top: 15px;
        }

      }
      .sbutton {
        margin-top: 35px;
      }
    }
  }
  .filters {
    text-align: center;
    .filters_list {
      display: block;
      margin: auto;
      width: 10em;
      .filter_item {
        margin-right: 0;
        &:last-child {
          border-bottom: 0px;
          > .prefix {

          }
        }
        .select-wrapper {
          width: 100%;
          .select-dropdown {
          }
        }
      }
      .input-field {
        .opened {
          width: 100%;
          left: 0;
          margin-left: 0;
        }
      }
    }
  }
  .whitespace {
    padding: 65px;
  }
  .overlay {
    .close_button {
      top: 20px;
    }
    .breadcrumb {
      margin-left: 0px;
      .breadcrumb-item {
        &:before {
          font-size: 36px;
          line-height: 16px;
        }
        a > p, p {
          font-size: 14px;
        }
        &:last-child {
          display: none;
        }
      }
    }
    .item_info {
      text-align: center;
      .item_logo {
        position: absolute;
        width:100%;
        height: auto;
        top: 231px;
        margin: auto;
        transition: 0.3s ease-in-out;
        .item_img {
          height: 420px;
          width: auto;
        }
      }
      .item_text {
        max-width: 100%;
        width: 80%;
        margin-left: 10%;
        .item_price {
          padding-top: calc(420px + 20px);
          text-align: left;
          .old_price {
            display: block;
            line-height: 24pt;
          }
        }
        .item_name {
          width: 100%;
          font-size: 42px;
        }
        .cart_section {
          .count {
            position: absolute;
            transform: translate(56vw, -86px);
            font-size: 20px;
          }
          .sbutton {
            width: 100%;
          }
        }
        .item_extra {
          .extra {
            .long {
              text-align: justify;
            }
          }
        }
      }
    }
    .same_box {
      .same {
        .items {
          height: 962x;
          .item_box {
            &:last-child {
              display: block;
            }
          }
        }
        .same_head {
          padding: 59px 0;
        }
      }
    }
  }
}
.cart_complete_screen {
  .close {
    top: 25px;
  }
  .panels {
    display: block;
    .panel {
      margin: 0;
      padding: 0px 40px;
      width: 100%;
    }
    .left_panel {
      padding-top: 106px;
      .subprice {
        font-size: 72px;
      }
      .delivery_form {
        margin-top: 80px;
        .submit{
          margin-top: 20px;
        }
      }
    }
    .right_panel {

      .cart_items {
        margin-top: 0px;
        .item{
          .item_small {
            .cart_item_link {
              .item_image {
                margin-right: 0px;
              }
            }
            .short_info {
              .control_box {
                .remove {
                  margin-right: 0px;
                }
                .cart-count {
                  width: 90px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.brands_screen {
  .header {
    font-size: 72px;
    margin-top: 25px;
  }
  .brands {
    .brand_box {
      width: 46.4vw;
      height: 46.4vw;
      margin: 1.8vw;
      .back {
        outline: 1px solid rgba(26, 6, 2, 0.95);
        .sbutton {
          margin-top: 20%;
        }
      }
    }
  }
  .overlay {
    .close_button {
      top: 25px;
    }
    .breadcrumb {
      margin: 5px;
      font-size: 12px;
      margin-top: 60px;
      &:before {
        display: none;
      }
      .breadcrumb-item{
        &:before {
          line-height: 12px;

        }
        a > p, p {
          font-size: 12px;
        }
      }
    }
    .brand_info {
      .brand_logo {
        text-align: center;
        margin-left: 10%;
        width: 80vw;
        height: 80vw;
        margin-bottom: 10px;
        .brand_img {
          width: 80%;
          height: auto;
          margin: auto;
        }
      }
      .brand_text {
        max-width: 80%;
        margin: 10px 10%;
        float: inherit;
        .brand_description {
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 20px;
        }
      }
      .sbutton {
        width: 100%;
      }
    }
  }
}
.orders_screen {

  .orders {
    .order_box {
      width: 100%;
      display: block;
      .panel {
        width: 100%;
        padding: 10%;
      }
      .lefts {
        width: 100%;
        .sbutton {
          width: 100%;
        }
      }
    }
  }
}
.main-screen {
  .opened {
    width: 100%;
    .cart_wrapper {
      width: 100%;
    }
  }
  .replaced {
    right: 90%;
  }
  .cart_board {
    .cart_wrapper {
      width: 100%;
      .cart_items {
        height: calc(100vh - 243px);
      }
      .order_box {
        height: auto;
        height: 153px;
        .order_price {
          padding-top: 5px;
          .text {
            margin: 0 0 0.2em 0;
            line-height: 30px;
          }
        }
      }
    }
  }
  .sidenav {
    display: block;
    &:hover {
    }
    .nav-item {
      height: calc((100vh - 36px) / 5);
      .nav-nav {
        .nav-text {
        }
      }
    }
    .close {
      display: block;
      background-color: #0d0b0b;
      height: 36px;
      .nav-nav {
        .nav-text {
          line-height: 36px;

          font-size: 36px;
        }
      }
    }
  }
  .burger {
    &:hover ~ .sidenav {
    }
    &:hover ~ .cart-icon {
      top: 10px;
    }
  }
  .nav_items {
    top: calc((100vh - 349px) / 2);
    left: 17px;
  }
}
.confirmation {
  .confirmation_bg {
    .confirmation_container {
      .confirmation_heading{
        font-size: 15px;
        line-height: 20px;
        margin-top: 10vh;
      }
      .confirmation_text {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10vh;
      }
      .sbutton {
        margin-top: 10vh;
      }
    }
  }
}