/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@font-face {
  font-family: 'Circe';
  src:font-url('CRC25.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src:font-url('CRC35.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src:font-url('CRC55.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src:font-url('Circe-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src:font-url('Circe-ExtraBold.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:font-url('PTSerifBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src:font-url('PTSerifBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;

}
@font-face {
  font-family: 'PT Serif';
  src:font-url('PTSerifItalic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src:font-url('PTSerifRegular.ttf');
  font-style: normal;
}
@import "animations";
@import "base";
@import "materialize";

@media screen and (max-width: 1366px) {
  @import "sizes/1366x768";
}
@media screen and (max-width: 1025px) {
  @import "sizes/1024x768";
}
@media screen and (max-width: 769px) {
  @import "sizes/768x986";
  @media screen and (max-height: 585px) {
    @import "sizes/768x585";
  }
}

@media screen and (max-width: 550px) {
  @media screen and (max-height: 458px) {
    @import "sizes/530x548";
  }
}

@media screen and (max-height: 755px) {
  .index-bg {
    .text {
      top: 65vh;
    }
    .sbutton {
      top: 83vh;
    }
  }
}