/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@font-face {
  font-family: 'Circe';
  src:font-url('Circe-Bold.otf');
  src:font-url('Circe-ExtraBold.otf');
  src:font-url('CRC55.otf');
  src:font-url('CRC35.otf');
  src:font-url('CRC25.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:font-url('PTSerifBold.ttf');
  src:font-url('PTSerifBoldItalic.ttf');
  src:font-url('PTSerifItalic.ttf');
  src:font-url('PTSerifRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
@import "animations";
@import "base";
@import "materialize";

@media screen and (max-width: 1366px) {
  @import "sizes/1366x768";
}
@media screen and (max-width: 1025px) {
  @import "sizes/1024x768";
}