body {
  margin: 0px;
}

.sbutton {
  width: 224px;
  height: 63px;
  border-top: 1px solid #ebad71;
  border-bottom: 1px solid #ebad71;
  opacity: 0.9;
  transition: opacity 0.3s;
  text-align: center;
  a {
    text-decoration: none;
    color: #ebad71;

    &:hover {
      text-decoration: none;
    }
    .sbutton_text {
      /* Style for "ваши данны" */
      color: #ebad71;
      font-family: Circe;
      font-size: 20px;
      font-weight: 700;
      line-height: 64px;
      font-variant: small-caps;
      margin: 0px;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: overlay_open 0.3s;
  overflow: hidden;

  .close_button {
    position: absolute;
    top: 58px;
    left: 28px;
    width: 24px;
    height: 24px;
    background: url('/images/close.png');
    cursor: pointer;
  }
}

.main-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  .burger {
    /* Base style */
    width: 30px;
    height: 18px;
    border-radius: 0;

    position: fixed;
    top: 25px;
    left: 29px;
    background: url("/images/burger.png");
    z-index: 1;
    cursor: pointer;
  }
  .cart-icon {
    width: 30px;
    height: 21px;

    position: fixed;
    top: 25px;
    right: 34px;
    z-index: 1;

    background: url("/images/cart.png");
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.7;
    transition: opacity 0.4s;

    .cart-items {
      /* Style for "3" */
      width: 8px;
      height: 12px;
      color: #ebad71;
      font-family: Circe;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      font-variant: small-caps;

      margin: 0 auto;
    }
    &:hover {
      opacity: 1;
    }
  }

  .quads {
    width: 13px;
    height: auto;
    position: fixed;
    top: 305px;
    left: 24px;
    opacity: 0.9;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    .quad {
      /* Style for "Rounded Re" */
      width: 6px;
      height: 6px;
      background-color: rgb(235, 173, 113);
      transition: opacity 0.3s;
      opacity: 0.14;
      margin-bottom: 37px;
      cursor: pointer;

      &:hover {
        border: 1px solid rgb(235, 173, 113);
        opacity: 0.48;
      }
      .active {
        opacity: 0.58;
      }
    }
  }

  .sidenav {
    width: 100vh;
    height: 0px;
    position: fixed;
    overflow: hidden;

    padding: 0;
    margin: 0;
    list-style-type: none;

    transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;
    display: flex;

    transition: height 0.3s;

    z-index: 3;

    .nav-item {
      width: 100%;
      height: auto;
      background-color: #721e1e;
      text-align: center;
      border-top: 1px solid rgba(235, 173, 113, 0.27);
      transition: border 0.3s;

      &:hover {
        border-top: 1px solid #ebad71;
      }
      .nav-nav {

        text-decoration: none;

        .nav-text {
          /* Style for "Ваш профил" */
          color: #ebad71;
          font-family: Circe;
          font-size: 14px;
          font-weight: 400;
          line-height: 115px;
          font-variant: small-caps;
          display: block;
          width: 100%;
          height: 100%;
          margin: 0px;
        }
      }
    }

    .odd {
      background-color: #482828;
    }
  }
  .open {
    height: 115px;
  }
}

.index-bg {
  height: 100%;
  width: 100%;
  background: url("/images/index_background.png");
  background-size: 100% 100%;

  .logo {
    width: 540px;
    height: 206px;

    position: absolute;
    top: 202px;
    left: 50%;
    transform: translateX(-50%);

    background: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;

  }

  .text {
    /* Style for "Все, что н" */
    width: 420px;
    height: 51px;
    color: #ebad71;
    font-family: "PT Serif";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: absolute;
    top: 58.4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.profile {
  height: 100%;
  width: 100%;
  background: url("/images/profile_background.png");
  background-size: 100% 100%;

  .top {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 2;

    .overlay {
      transform: translate(-50%, -39%);
      background-color: #004a80;
      .sign_up {
        top: 20px !important;
        .input {
          margin-bottom: 0px !important;

          input {
            padding: 5px 10px 5px 5px !important;
          }
          select{
            margin-bottom: 20px;
            margin-right: 0px;
          }
        }
      }
      form {
        position: absolute;
        left: 50%;
        top: 39%;
        font-family: Circe;

        .errors {
          font-size: 18px;
          color: #ebad71;
          .ul {
            text-align: left;
          }
        }
        /* form starting stylings ------------------------------- */
        .input {
          position: relative;
          margin-bottom: 45px;

          input, select {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 496px;
            border: none;
            border-bottom: 2px solid rgba(235, 173, 113, 0.37);
            background-color: #004a80;
            color: #ebad71;
          }
          input:focus {
            outline: none;
          }

          /* active state */
          input:focus ~ label, input:valid ~ label,
          select:focus ~ label, select:valid ~ label{
            top: -20px;
            font-size: 14px;
            color: #7c230b;
          }
          /* LABEL ======================================= */
          label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
          }
        }
        input[type="submit"] {
          color: #ebad71;
          font-family: Circe;
          font-size: 20px;
          font-weight: 700;
          line-height: 64px;
          font-variant: small-caps;
          background: none;
          margin: 0px;
          border: none;
          border-top: 1px solid #ebad71;
          border-bottom: 1px solid #ebad71;
        }

      }
    }
    .text {
      /* Style for "Здравствуй" */
      width: 100vw;
      height: 57px;
      color: #ebad71;
      font-family: Circe;
      font-size: 50px;
      font-weight: 700;
      line-height: 57px;
      font-variant: small-caps;
      text-decoration: none;
    }
    .sign_out {
      /* Style for "выход" */
      width: 71px;
      height: 15px;
      color: #ebad71;
      font-family: "PT Serif";
      font-size: 21px;
      font-weight: 700;
      line-height: 26px;
      text-decoration: underline;
    }
  }

  .sbuttons {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 527px;


    .right {
      float: left;
      margin-left: auto;
    }
  }
}

.shop_screen {
  height: 100%;
  width: 100%;
  display: flex;

  .column {
    height: 100vh;
    text-align: center;
  }
  .left {
    width: 45vw;
    background: url("/images/shop_left_column.png");
    background-size: 100% 100%;

    .column {
      height: 100%;
    }
    .text {
      position: relative;
      top: 37.4%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 496px;
      max-width: 100%;
      height: 93px;
      color: #ebad71;
      font-family: "PT Serif";
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
    }
    .sbutton {
      position: relative;
      top: 41%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .center {
    width: 510px;
  }
  .right {
    width: calc(55vw - 510px);
    background: url("/images/shop_right_column.png");
    background-size: 100% 100%;

    .sbutton {
      position: relative;
      top: 53%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}
.brands_screen {
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
  overflow-x: hidden;

  .header {
    top: 0;
    padding: 10vh 0;
    width: 100vw;
    text-align: center;
    height: 56px;
    color: #240604;
    font-family: Circe;
    font-size: 56px;
    font-weight: 700;
    line-height: 20px;
    font-variant: small-caps;
  }
  .brands {
    width: 100vw;
    min-height: 80vh;
    margin: 0px;
    background-color: #cbcbcb;

    .brand_box {
      /* Style for "Rectangle" */
      width: 23%;
      margin: 0.8%;
      height: 272px;
      background-color: #fff;
      z-index: 3;
      float: left;
      text-align: center;

      &:hover  .back {
        height: 100%;

      }
      .front {
        width: 100%;
        height: 100%;
        .brand_image {
          width: 96%;
          height: 96%;
          margin: 2%;
        }
      }
      .back {
        height: 0;
        width: 100%;
        background-color: white;
        transition: height 0.3s;
        overflow: hidden;
        transform: translateY(-100%);
        .sbutton {
          margin: auto;
          margin-top: 18%;

        }
      }
    }
  }
  .overlay {
    background: #fcfcfc;
  .breadcrumb {
    display: flex;
    margin-top: 70px;

    .breadcrumb-item {
      &:before {
        content: "\2192 \0020";
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        position: relative;
        color: black;

      }
      &:first-child:before {
        display: none;
      }
      a > p  {
        margin: 0;
        margin-right: 18px;

        font-family: Circe;
        font-size: 18px;
        font-weight: 700;
        /* Text style for "Главная Ма" */
        color: #ebad71;
      }
      p {
        margin: 0;
        margin-right: 18px;
        font-family: Circe;
        font-size: 18px;
        font-weight: 700;
        color: #350905;
      }
      }
    }
    .brand_logo {
      padding: 17px 0px;
      border-top: 1px solid #ebad71;
      border-bottom: 1px solid #ebad71;
      float: left;
      margin-right: 8%;
      margin-left: 16%;
      .brand_img {
        width: 499px;
        height: 352px;
      }
    }
  }
}
