%p
  Здравствуйте, #{@resource.name}
%p
  Мы получили запрос на изменение вашего пароля для аккаунта
  %a{href: 'http://stashstore.ru'}
    Stashstore.ru.
  Перейдите по ссылке ниже, чтобы задать новый пароль:
%p
  = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

%p
  Если Вы не хотите менять пароль или этот запрос сделал кто-то другой, просто проигнорируйте данное сообщение.