%hmtl
  %body
    :scss
      table {
        text-align: center;
        border-collapse: collapse;
        tr {
          border: 2px solid black;
          th {

          }
          td {
            border: 1px solid black;
          }
        }
      }
    = yield